<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="{{packageName}}.{{pluginName}}.mapper.PubNewsMapper">

    <resultMap id="pubNewsVO" type="{{packageName}}.{{pluginName}}.bean.vo.PubNewsVO">
        <result property="companyId" column="COMPANY_ID" jdbcType="VARCHAR" />
        <result property="title" column="TITLE" jdbcType="VARCHAR" />
        <result property="typeName" column="TYPE_NAME" jdbcType="VARCHAR" />
        <result property="deptName" column="DEPT_NAME" jdbcType="VARCHAR" />
        <result property="topFlag" column="TOP_FLAG" jdbcType="VARCHAR" />
        <result property="logo" column="LOGO" jdbcType="VARCHAR" />
        <result property="source" column="SOURCE" jdbcType="VARCHAR" />
        <result property="type" column="TYPE" jdbcType="VARCHAR" />
        <result property="status" column="STATUS" jdbcType="VARCHAR" />
        <result property="deptId" column="DEPT_ID" jdbcType="VARCHAR" />
        <result property="creator" column="CREATOR" jdbcType="VARCHAR" />
        <result property="creationTime" column="CREATION_TIME" jdbcType="TIMESTAMP" />
        <result property="lastModifitor" column="LAST_MODIFITOR" jdbcType="VARCHAR" />
        <result property="lastModifitionTime" column="LAST_MODIFITION_TIME" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="listNews" resultMap="pubNewsVO">
        SELECT
            N.ID,
            N.COMPANY_ID,
            N.TITLE,
            N.TOP_FLAG,
            LOGO,
            N.SOURCE,
            TYPE,
            N.STATUS,
            N.DEPT_ID,
            N.CREATION_TIME,
            N.LAST_MODIFITION_TIME,
            T.NAME TYPE_NAME
        FROM PUB_NEWS N
        LEFT JOIN PUB_NEWS_TYPE T ON N.TYPE = T.ID
        WHERE N.COMPANY_ID = #{companyId,jdbcType=VARCHAR}
        <if test="title != null and title != ''">
            AND N.TITLE LIKE #{title,jdbcType=VARCHAR}
        </if>
        <if test="deptId != null and deptId != ''">
            AND N.DEPT_ID = #{deptId,jdbcType=VARCHAR}
        </if>
        <if test="status != null and status != ''">
            AND N.STATUS LIKE #{status,jdbcType=VARCHAR}
        </if>
        <if test="type != null and type != ''">
            AND N.TYPE LIKE #{type,jdbcType=VARCHAR}
        </if>
        ORDER BY N.TOP_FLAG,N.CREATION_TIME
    </select>

    <select id="getNewsInfo" resultMap="pubNewsVO">
        SELECT
            N.ID,
            N.COMPANY_ID,
            N.TITLE,
            N.TOP_FLAG,
            LOGO,
            N.SOURCE,
            TYPE,
            N.STATUS,
            N.DEPT_ID,
            N.CREATION_TIME,
            N.LAST_MODIFITION_TIME,
            N.CONTENT,
            T.NAME TYPE_NAME
        FROM PUB_NEWS N LEFT JOIN PUB_NEWS_TYPE T ON N.TYPE=T.ID
        WHERE N.ID = #{id,jdbcType=VARCHAR}
    </select>

</mapper>
