$accentColor = #4292f3

.page .theme-default-content:not(.custom),.page .page-nav,.page .page-edit{
    padding: 30px 20px;
    max-width: 75%;
    margin-left: 10%;
}

.sidebar > .sidebar-links > li:first-child > a.sidebar-link{
    font-size: 1em;
    font-weight:normal;
    line-height:1.4;
    
}
.sidebar > .sidebar-links > li:first-child > a.sidebar-link.active{
    font-weight:bold;
}
table{
    thead{
        tr{
            th{
                min-width: 80px;
            }
        }
    }
}